<div class="row">
  <div class="col-md-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content forum-container">
        <div class="forum-title">
          <%= link_to("New group", new_group_path, class: "btn btn-primary pull-right") %>
        </div>
        <br>
        <br>
        <%= render :partial=> "group_item", :collection => @groups, :as=> :group %>
      </div>
    </div>
  </div>
</div>
