<div class="row">
  <div class="col-md-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <h2 class="text-center">我加入的討論版</h2>
      <br>
      <div class="ibox-content forum-container">
        <%= render :partial=> "groups/group_item", :collection => @groups, :as=> :group %>
      </div>
    </div>
  </div>
</div>

