<% if flash.any? %>
  <% user_facing_flashes.each do |key, value| %>
    <div class="alert alert-dismissable alert-<%= flash_class(key) %>">
      <button aria-hidden="true" data-dismiss="alert" class="close" data-dismiss>x</button>
      <%= value %>
    </div>
  <% end %>
<% end %>
